	<%- include('header') %>

	<div class="container">
		<h1>About</h1>
		<p>About our gallery is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut placeat iste laborum dolorem voluptatibus vero accusamus nulla obcaecati ab nihil, fugit magnam, minus eos, quae quasi, eligendi iure aliquam architecto?</p>
	</div>
</body>
</html>